<div class="page-header1">Invoices</div>
<div id="ngxtable" class="table-container">
  <ngx-datatable
  class="bootstrap fullscreen"
  [rows]="orders"
  style="font-family: Nunito;height: inherit;"
  [columnMode]="ColumnMode.force"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="50"
  [scrollbarH]="true"
  [scrollbarV]="true"
>
  <ngx-datatable-column
    *ngFor="let col of columns"
    name="{{ col.prop }}"
    [width]='col.width'
    [headerClass]="col.headerClass"
  >
    <ng-template let-value="value" ngx-datatable-header-template>
      <span >{{ col.name }}</span>
    </ng-template>
    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
      <div *ngIf="col.name.includes('Sno.')">{{ getRowIndex(row) }}</div>
      <div
        *ngIf="!col.name.includes('Settings') && !col.name.includes('Sno.')"
      >
        {{ value }}
      </div>
      <div *ngIf="col.name.includes('Settings')">
        <div class="d-flex" style="height: 30px">
          <div class="col-2"></div>
          <div class="col-2 due-enable-icon" *ngIf="getDue(row) == 0"></div>
          <div *ngIf="getDue(row) != 0" class="col-2 due-disable-icon"  (click)="openPayAmt(row)"></div>
          <div class="col-2 view-icon" (click)="ShowBill(row.orderid)"></div>
          <div
            class="col-2 download-icon"
            (click)="downloadBill(row.orderid)"
          ></div>
          <div class="col-2 delete-icon"></div>
        </div>
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
</div>


<div #showBill *ngIf="isShowBill" class="checkoutModel">
  <div class="checkoutModel-content">
    <div class="float-right cursor-pointer" (click)="isShowBill = !isShowBill">
      X
    </div>
    <!-- <div class="d-flex">
      <div class="col-6"> Order #
      </div>
      <div class="col-6">{{bill.orderid}}</div>
    </div> -->
    <table class="table-container">
      <tr>
        <th colspan="1">Product</th>
        <th colspan="1">Material</th>
        <th colspan="1">Size</th>
        <th colspan="1">Qty</th>
        <th colspan="1">Amount</th>
      </tr>
      <tr *ngFor="let prod of bill.products">
        <td>{{ prod.product }}</td>
        <td>{{ prod.material }}</td>
        <td>{{ prod.size }}</td>
        <td>{{ prod.count }} X {{ getMetaPrice(prod.product) }}</td>
        <td>{{ prod.price }}</td>
      </tr>
    </table>
  </div>
</div>

<div #payAmt *ngIf="ispayAmt" class="checkoutModel">
  <div class="checkoutModel-content">
    <div class="pay-amt-title">Order Id : {{ payAmtReq.orderid }}</div>
    <div class="pay-amt-content">
      <div class="amt-container">Total Amount: {{ TotalAmt }}</div>
      <div class="amt-container">Customer Due: {{ DueAmt }}</div>
    </div>
    <div>Amount Paid Now:</div>
    <div>
      <input
        type="number"
        [(ngModel)]="payAmtReq.paidamount"
        class="form-control text-center"
        (keyup)="checkPayAmt()"
      />
    </div>
    <br />
    <div class="errorText">{{ errorText }}</div>
    <div align="center">
      <button class="btn btn-danger m-1" (click)="ispayAmt = !ispayAmt">Cancel</button>
      <button class="btn btn-success m-1" (click)="payDue()" [disabled]="disablePay">
        Pay
      </button>
    </div>
  </div>
</div>
