.checkoutModel {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
  }
  
  .checkoutModel-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }

  .table-container{
    margin: 10px;
  }
  table {
    width: 100%;
  }
  td,th{
    padding: 0px 10px;
    height: 50px;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
  }

  .due-disable-icon{
    height: inherit;
    width: 15px;
    background: url(../../../../assets/Icons/rupee-sign-solid-enable.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    cursor: pointer;
  }
  
  .due-enable-icon{
    height: inherit;
    width: 15px;
    background: url(../../../../assets/Icons/rupee-sign-solid-disable.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    cursor: pointer;
  }
  .pay-amt-title {
    font-family: "Poppins-Medium";
  }
  .pay-amt-container {
    width: 500px;
    height: 280px;
  }
  .amt-container {
    width: calc(100% / 2);
    font-family: "Poppins-Light";
  }
  .pay-amt-content {
    display: flex;
    height: 100%;
  }

  .badge{
    display: flex;
    border-radius: 10px !important;
    width: 50px;
    font-size: 12px;
    justify-content: center;
    align-self: center;
    padding: 5px;
  }

  .search-icon {
    background: url(../../../../assets/Icons/searchengin-brands.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    cursor: pointer;
  }

  .clearDate{
    position: absolute;
    right: 55px;
    font-size: 22px;
    color: crimson;
    cursor: pointer;
  }