.template-header {
  text-align: center;
  font-size: 15mm;
  font-family: Nunito;
  margin: 10mm 0mm;
}
.template-details {
  // text-align: left;
  font-size: 5mm;
  margin-top: 10mm;
  margin-bottom: 10mm;
  font-family: Nunito;
  font-weight: bolder;
}
.unbold {
  font-weight: 100;
}

.table-container {
  margin: 10px;
}
table {
  width: 100%;
}
td,
th {
  padding: 0px 10px;
  height: 14mm;
  width: 62mm;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 4mm;
  border-bottom: 1mm solid #ddd;
}

.template-address {
  display: flex;
  margin-top: 10mm;
  margin-bottom: 10mm;
  font-family: Nunito;
  border-top: 3mm solid navy;
  padding: 5mm 0mm;
}
.address-block {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.tr-header{
    background-color: rgb(120, 224, 116);
}

// #downloadBody{
//     margin: 10mm 15mm;
// }

.print-border{
  margin: 10mm 10mm;
 // border: 0.5mm solid gray;
  padding: 3mm;
}

.footer-style{
  font-family: Nunito;
  font-size: 5mm;
  text-align: center;
}