<div class="page-header1">Add New Employee</div>
<div class="d-flex">
  <div class="col-12">
    <div
      class="page-header2 text-center m-down-10 border"
      style="background-color: rgb(120, 224, 116); font-weight: 600"
    >
      Employee Details
    </div>
    <div class="d-flex m-down-10">
      <div class="d-flex col-6">
        <div class="col-3 m-auto">FirstName</div>
        <div class="col-9">
          <input
            class="form-control"
            type="text"
            [(ngModel)]="Employee.EmpFirstName"
          />
        </div>
      </div>
      <div class="d-flex col-6">
        <div class="col-3 m-auto">LastName</div>
        <div class="col-9">
          <input
            class="form-control"
            type="text"
            [(ngModel)]="Employee.EmpLastName"
          />
        </div>
      </div>
    </div>
    <div class="d-flex m-down-10">
      <div class="d-flex col-6">
        <div class="col-3 m-auto">Address</div>
        <div class="col-9">
          <input
            class="form-control"
            type="text"
            [(ngModel)]="Employee.Address"
          />
        </div>
      </div>
      <div class="d-flex col-6">
        <div class="col-3 m-auto">Contact</div>
        <div class="col-9">
          <input
            class="form-control"
            type="number"
            [(ngModel)]="Employee.PhoneNumber"
          />
        </div>
      </div>
    </div>
    <hr />
    <div class="d-flex m-down-10">
      <div class="d-flex col-6">
        <div class="col-3 m-auto">Email ID</div>
        <div class="col-9">
          <input
            class="form-control"
            type="email"
            [(ngModel)]="Employee.EmpEmailID"
          />
        </div>
      </div>
      <div class="d-flex col-6">
        <div class="col-3 m-auto">Password</div>
        <div class="col-9">
          <input
            class="form-control"
            type="password"
            [(ngModel)]="Employee.EmpPassword"
          />
        </div>
      </div>
    </div>

    <div class="text-center m-4">
      <div class="btn btn-success" (click)="AddEmployee()">Add Employee</div>
    </div>
  </div>
</div>
