.table-container {
    margin: 10px;
    height: calc(100% - 100px);
  }
  .search-icon {
    background: url(../../../../../assets/Icons/searchengin-brands.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    cursor: pointer;
  }