/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@swimlane/ngx-datatable/themes/bootstrap.scss";
@import "../node_modules/@swimlane/ngx-datatable/themes/bootstrap.css";
@import "../node_modules/@swimlane/ngx-datatable/themes/material.scss";
@import "../node_modules/@swimlane/ngx-datatable/themes/material.css";
@import "../node_modules/@swimlane/ngx-datatable/assets/icons.css";
body {
  margin: 0px;
  height: 100vh;
  transition: 300ms ease all;
  overflow-y: scroll;
  font-family: Nunito;
}
@font-face {
  font-family: Nunito;
  src: url(assets/font/Nunito/Nunito-Light.ttf) format("truetype");
}

.form-control,.form-select {
  box-shadow: none !important;
}

$font-color: #0b0c10;

.d-flex {
  display: flex;
}

.d-flex-rev {
  display: flex;
  flex-direction: row-reverse;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}
.header {
  height: 50px;
  color: black;
  border-bottom: 1px solid #c5c6c7;
  //  box-shadow: 3px 2px 12px #c5c6c7eb;
  background-color: #a2add888;
}
.content {
  padding: 20px;
  height: 100%;
}

.menu-icon {
  background: url(./assets/Icons/menu-solid.svg);
  height: 30px;
  width: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.closemenu-icon {
  background: url(./assets/Icons/times-solid.svg);
  height: 20px;
  width: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.user-prof {
  height: 150px;
  // background-color: #1f2833;
}

.down-arrow {
  height: 18px;
  width: 18px;
  background: url(./assets/Icons/angle-down-solid.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.right-arrow {
  height: 18px;
  width: 18px;
  background: url(./assets/Icons/angle-right-solid.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.push-left {
  margin-left: auto;
}

.profile-potrait {
  height: 100px;
  width: 100px;
  background: url(./assets/Icons/user-circle-solid.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
  margin: 10px auto;
}

.appname {
  font-weight: bolder;
  color: black;
  font-family: Nunito;
  text-align: center;
  font-size: 16px;
  height: 50px !important;
  padding: 7px 0px;
  margin: 0px auto 0px 50px;
}

.page-header1 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  font-family: Nunito;
}

.page-header2 {
  font-size: 16px;
  padding: 10px 0px;
  font-family: Nunito;
}
.comingsoon {
  font-family: Nunito;
  font-display: swap;
  font-size: 50px;
  padding: 50px 0px;
  text-align: center;
}

.m-down-10 {
  margin-bottom: 10px;
}
.delete-icon {
  height: inherit;
  width: 15px;
  background: url(./assets/Icons/trash-alt-regular.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  cursor: pointer;
}

.view-icon {
  height: inherit;
  width: 15px;
  background: url(./assets/Icons/eye-regular_white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  cursor: pointer;
}

.edit-icon {
  height: inherit;
  width: 15px;
  background: url(./assets/Icons/pen-solid.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  cursor: pointer;
}

.download-icon {
  height: inherit;
  width: 15px;
  background: url(./assets/Icons/download.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  cursor: pointer;
}
//ngx-table classes start
.theader1 {
  font-weight: 600;
  font-size: 16px;
}

.setting-icon {
  height: inherit;
  width: 15px;
}

.cursor-pointer {
  cursor: pointer;
}

// ngx class ends
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.checkoutModel {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
}

.checkoutModel-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.pagecontainer{
  height: calc(100vh) ;
}

.clearSearch{
  color: crimson !important;
  font: 22px !important;
  background: white !important;
  cursor: pointer !important;
}

// LOADER
.loader-5 span{
  display: block;
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  width: 20px;
  height: 20px;
  background-color: #2d3450;
}

.loader-5 span:nth-child(2){
  animation: moveanimation1 1s ease-in-out infinite;
}

.loader-5 span:nth-child(3){
  animation: moveanimation2 1s ease-in-out infinite;
}

.loader-5 span:nth-child(4){
  animation: moveanimation3 1s ease-in-out infinite;
}

@keyframes moveanimation1{
  0%, 100%{
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }

  75%{
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
  }
}

@keyframes moveanimation2{
  0%, 100%{
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  75%{
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }
}

@keyframes moveanimation3{
  0%, 100%{
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  75%{
    -webkit-transform: translate(30px, 30px);
    -ms-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
}
//LOADER ENDS
