<div class="page-header1">Add New Customer</div>
<div class="d-flex">
  <div class="col-12">
    <div
      class="page-header2 text-center m-down-10 border"
      style="background-color: rgb(120, 224, 116); font-weight: 600"
    >
      Customer Details
    </div>
    <div class="d-flex m-down-10">
      <div class="d-flex col-6">
        <div class="col-3 m-auto">Name</div>
        <div class="col-9">
          <input class="form-control" [(ngModel)]="client.OrgName" />
        </div>
      </div>
      <div class="d-flex col-6">
        <div class="col-3 m-auto">Phone</div>
        <div class="col-9">
          <input
            class="form-control"
            type="tel"
            maxlength="10"
            [(ngModel)]="client.BillingPhone"
          />
        </div>
      </div>
    </div>

    <!-- <div class="d-flex m-down-10">
      <div class="col-3 m-auto">Company</div>
      <div class="col-9"><input class="form-control" [(ngModel)]="client.OrgName"/></div>
    </div> -->

    <!-- <div class="d-flex m-down-10">
      <div class="col-3 m-auto">Phone</div>
      <div class="col-9">
        <input
          class="form-control"
          type="tel"
          maxlength="10"
          [(ngModel)]="client.BillingPhone"
        />
      </div>
    </div> -->

    <div class="d-flex m-down-10">
      <div class="d-flex col-6">
        <div class="col-3 m-auto">Email</div>
        <div class="col-9">
          <input
            class="form-control"
            type="email"
            [(ngModel)]="client.BillingEmail"
          />
        </div>
      </div>
      <div class="d-flex col-6">
        <div class="col-3 m-auto">Address</div>
        <div class="col-9">
          <input
            class="form-control"
            type="text"
            [(ngModel)]="client.BillingAddress"
          />
        </div>
      </div>
    </div>

    <!-- <div class="d-flex m-down-10">
      <div class="col-3 m-auto">Address</div>
      <div class="col-9">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="client.BillingAddress"
        />
      </div>
    </div> -->

    <div class="d-flex m-down-10">
      <div class="d-flex col-6">
        <div class="col-3 m-auto">City</div>
        <div class="col-9">
          <input
            class="form-control"
            type="text"
            [(ngModel)]="client.BillingCity"
          />
        </div>
      </div>
      <div class="d-flex col-6">
        <div class="col-3 m-auto">Country</div>
        <div class="col-9">
          <input
            class="form-control"
            type="text"
            [(ngModel)]="client.BillingCountry"
          />
        </div>
      </div>
    </div>

    <!-- <div class="d-flex m-down-10">
      <div class="col-3 m-auto">Region</div>
      <div class="col-9"><input class="form-control" type="text" [(ngModel)]="client.OrgName"/></div>
    </div> -->

    <!-- <div class="d-flex m-down-10">
      <div class="col-3 m-auto">Country</div>
      <div class="col-9">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="client.BillingCountry"
        />
      </div>
    </div> -->

    <div class="d-flex m-down-10">
      <div class="d-flex col-6">
        <div class="col-3 m-auto">Post Box</div>
        <div class="col-9">
          <input
            class="form-control"
            type="text"
            [(ngModel)]="client.BillingPostBox"
          />
        </div>
      </div>
      <div class="d-flex col-6">
        <div class="col-3 m-auto">Tax Id</div>
        <div class="col-9">
          <input
            class="form-control"
            type="text"
            [(ngModel)]="client.BillingTaxId"
          />
        </div>
      </div>
    </div>

    <!-- <div class="d-flex m-down-10">
      <div class="col-3 m-auto">Tax Id</div>
      <div class="col-6">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="client.BillingTaxID"
        />
      </div>
      <div class="col-3"></div>
    </div> -->
    <div class="text-center m-4">
      <div class="btn btn-success" (click)="AddClient()">Add Client</div>
    </div>
  </div>
  <!-- <div class="col-6">
    <div
      class="page-header2 text-center m-down-10 border"
      style="background-color: burlywood;font-weight: 600;"
    >
      Shipping Address
    </div>
    <div>
      <span style="margin-right: 10px">Same as Billing Address</span>
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </div>
    <div class="page-header2 m-down-10">
      Please leave Shipping Address blank if you do not want to print it on the
      invoice.
    </div>
    <div class="d-flex m-down-10">
      <div class="col-3 m-auto">Name</div>
      <div class="col-9"><input class="form-control" /></div>
    </div>

    <div class="d-flex m-down-10">
      <div class="col-3 m-auto">Company</div>
      <div class="col-9"><input class="form-control" /></div>
    </div>

    <div class="d-flex m-down-10">
      <div class="col-3 m-auto">Phone</div>
      <div class="col-9"><input class="form-control" type="tel" /></div>
    </div>

    <div class="d-flex m-down-10">
      <div class="col-3 m-auto">Email</div>
      <div class="col-9"><input class="form-control" type="email" /></div>
    </div>

    <div class="d-flex m-down-10">
      <div class="col-3 m-auto">Address</div>
      <div class="col-9"><input class="form-control" type="text" /></div>
    </div>

    <div class="d-flex m-down-10">
      <div class="col-3 m-auto">City</div>
      <div class="col-9"><input class="form-control" type="text" /></div>
    </div>

    <div class="d-flex m-down-10">
      <div class="col-3 m-auto">Region</div>
      <div class="col-9"><input class="form-control" type="text" /></div>
    </div>

    <div class="d-flex m-down-10">
      <div class="col-3 m-auto">Country</div>
      <div class="col-9"><input class="form-control" type="text" /></div>
    </div>

    <div class="d-flex m-down-10">
      <div class="col-3 m-auto">Post Box</div>
      <div class="col-6"><input class="form-control" type="text" /></div>
      <div class="col-3"></div>
    </div>

    <div class="d-flex m-down-10">
      <div class="col-3 m-auto">Tax Id</div>
      <div class="col-6"><input class="form-control" type="text" /></div>
      <div class="col-3"></div>
    </div>
  </div> -->
</div>
