<div class="page-header1">Add Purchase Order</div>

<div>
  <div class="page-header2">Supplier Details :</div>
  <div class="row m-0 p-0">
    <div class="col-4">
      <label class="form-label">Supplier Name</label>
      <input class="form-control" type="text" [(ngModel)]="porder.SupplierName"/>
    </div>
    <div class="col-4">
      <label class="form-label">Supplier Contact</label>
      <input class="form-control" type="tel" [(ngModel)]="porder.SupplierContact" maxlength="10"/>
    </div>
    <div class="col-4">
      <label class="form-label">Order Due Date</label>
      <input class="form-control" type="date" [(ngModel)]="porder.OrderDueDate"/>
    </div>
  </div>
</div>

<hr />

<div>
  <div class="page-header2">Order Details :</div>
  <div class="table-container">
    <table>
      <tr>
        <th>S.No.</th>
        <th>Item Name</th>
        <th>Bundle Count</th>
        <th>Order Status</th>
        <th>Rate</th>
        <th>Amount</th>
        <th></th>
      </tr>

      <tr *ngFor="let item of itemData;let i = index">
        <td>{{i+1}}.</td>
        <td>
          <div *ngIf="!item.isEdit && item.isSave">{{item.ItemName}}</div>
          <div *ngIf="item.isEdit && !item.isSave">
            <select class="form-control" [(ngModel)]="item.ItemId" (ngModelChange)="assignId($event,item)">
              <option *ngFor="let mat of rawmaterials" [value]="mat.ItemId" >{{mat.ItemName}}</option>
            </select>
          </div>
        </td>
        <td>
          <div *ngIf="!item.isEdit && item.isSave">{{item.BundleCount}}</div>
          <div *ngIf="item.isEdit && !item.isSave">
            <input class="form-control" [(ngModel)]="item.BundleCount"/>
          </div>
        </td>
        <td>
          <div *ngIf="!item.isEdit && item.isSave">{{item.ItemStatus}}</div>
          <div *ngIf="item.isEdit && !item.isSave">
            <select class="form-control" [(ngModel)]="item.ItemStatus">
              <option *ngFor="let stat of statusData" [value]="stat">{{stat}}</option>
            </select>
          </div>
        </td>
        <td>
          <div *ngIf="!item.isEdit && item.isSave">{{item.Price}}</div>
          <div *ngIf="item.isEdit && !item.isSave">
            <input class="form-control" [(ngModel)]="item.Price"/>
          </div>
        </td>
        <td>
          <div>{{getAmount(item) | currency: "&#8377;"}}</div>
        </td>
        <td class="d-flex" colspan="1">
          <div class="edit-icon mr-5"  (click)="edit(item)" *ngIf="(itemData.length != (i+1) && !item.isEdit && item.isSave)" ></div>
          <div class="save-icon mr-5"    (click)="save(item)" *ngIf="(itemData.length == (i+1) && !item.isSave) || (item.isEdit) || !item.isSave"></div>
          <div class="delete-icon mr-5"  (click)="remove(i)" *ngIf="itemData.length != (i+1) || (itemData.length == (i+1) && item.isSave)"></div>
          <div class="plus-icon mr-5"  (click)="add()" *ngIf="itemData.length == (i+1)"></div>
          <div class="text-danger text-center m-auto">{{item.errorText}}</div>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <div *ngIf="isError" class="text-danger m-auto">{{errorText}}</div>
        </td>
        <td colspan="1">Grand Total</td>
        <td colspan="1">{{porder.TotalAmount | currency: "&#8377;"}}</td>
      </tr>
      <tr>
        <td colspan="6" style="border: none"></td>
        <td colspan="1" style="border: none">
          <button class="btn btn-success" (click)="validate()">
            Generate Order
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
