<div class="cntr">
    <div class="form-cntr">
        <div class="login-label">Login</div>
        <div class="warn-msg">{{errorText}}</div>
        <div >
            <div class="inp-wrap">
                <input type="text" placeholder="EmpID" [(ngModel)]='empId' class="text-inp">
            </div>
        </div>
        <br>
        <div>
            <div class="inp-wrap">
                <input type="password" placeholder="Password" [(ngModel)]='password' class="pass-inp">
            </div>
        </div>
        <br><br>
        <div class = "d-flex">
          <div class="login-btn m-1" (click)="onLogin(1)">
            <div class="txt-field">Admin Login</div>
        </div>
        <div class="login-btn m-1" (click)="onLogin(2)">
          <div class="txt-field">Employee Login</div>
      </div>
        </div>

    </div>
</div>
