<div class="cntr">
    <div class="form-cntr">
        <div class="login-label">Employee Login</div>
        <div class="warn-msg">{{errorText}}</div>
        <div >
            <div class="inp-wrap">
                <input type="text" placeholder="EmpID" [(ngModel)]='empId' class="text-inp">
            </div>
        </div>
        <br>
        <div>
            <div class="inp-wrap">
                <input type="password" placeholder="Password" [(ngModel)]='password' class="pass-inp">
            </div>
        </div>
        <br><br>
        <div class="login-btn" (click)="onLogin()">
            <div class="txt-field">Login</div>
        </div>
    </div>
</div>