<div class="d-flex">
  <div class="col-3" style="padding-top: 10px">
    <div class="page-header1">Employees</div>
  </div>
  <div class="col-5"></div>
  <div class="col-4" style="padding-top: 10px">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="searchEmployee"
        placeholder="Search Employee"
        (keyup)="SearchEmployeeMethod()"
      />
      <div class="input-group-prepend">
        <span *ngIf="!searchEmployee" class="input-group-text search-icon"></span>
        <span  class="input-group-text clearSearch" *ngIf="searchEmployee" (click)="searchEmployee='';SearchEmployeeMethod()">x</span>
      </div>
    </div>
  </div>
</div>
<div id="ngxtable" class="table-container" #table>
  <ngx-datatable
  class="bootstrap fullscreen"
  [rows]="filteredList"
  style="font-family: Nunito; height: inherit"
  [columnMode]="ColumnMode.force"
  [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="45"
    [limit]="10"
>
  <ngx-datatable-column
    *ngFor="let col of columns"
    name="{{ col.prop }}"
    [width]="col.width"
  >
    <ng-template let-value="value" ngx-datatable-header-template>
      <span class="theader1">{{ col.name }}</span>
    </ng-template>
    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
      <div *ngIf="!col.name.includes('Settings')" [title]="row[col.prop]">{{ row[col.prop] }}</div>
      <div *ngIf="col.name.includes('Settings')"><div class="d-flex" style="height: 30px;">
        <div class="col-2 view-icon" (click)="toViewEmployee(row)"></div>
        <div class="col-2 edit-icon" (click)="toEditEmployee(row)"></div>
        <div class="col-2 delete-icon" (click)="DeleteItem(row)"></div>
      </div></div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
</div>


<div #ViewEmployee *ngIf="isviewEmployee" class="checkoutModel">
  <div class="checkoutModel-content">
    <div class="d-flex m-1" >
      <div class="col-3">Name:</div>
      <div class="col-9" >{{viewEmployee.EmpFirstName}} {{viewEmployee.EmpLastName}}</div>
     
    </div>
    <!-- <div class="d-flex m-1">
        <div class="col-3">LastName:</div>
        <div class="col-9">{{viewEmployee.EmpLastName}}</div>
      </div> -->
    <div class="d-flex m-1">
      <div class="col-3">Contact</div>
      <div class="col-9" *ngIf="!isedit">{{viewEmployee.PhoneNumber}}</div>
      <div class="col-9" *ngIf="isedit"><input class="form-control" type="text" [(ngModel)]="viewEmployee.PhoneNumber"/></div>
    </div>
    <div class="d-flex m-1">
      <div class="col-3">Address:</div>
      <div class="col-9" *ngIf="!isedit">{{viewEmployee.Address}}</div>
      <div class="col-9" *ngIf="isedit"><input class="form-control" type="text" [(ngModel)]="viewEmployee.Address"/></div>
    </div>
    <div class="d-flex m-1">
      <div class="col-3">EmailID:</div>
      <div class="col-9"*ngIf="!isedit">{{viewEmployee.Email}}</div>
      <div class="col-9" *ngIf="isedit"><input class="form-control" type="text" [(ngModel)]="viewEmployee.Email"/></div>
    </div>
    <hr>
    <div align='center' class="d-flex">
      <div class="m-1 btn btn-danger" (click)="isviewEmployee = false; isedit= false">Close</div>
      <div class="m-1 btn btn-success" *ngIf="isedit"  (click)="isviewEmployee = false; isedit= false">Update</div>
    </div>
  </div>

</div>
