<div class="page-header1">Add New Product</div>
<br>
<div>
    <div class="d-flex m-down-10">
        <div class="col-2 prod-label">Product Name</div>
        <div class="col-5"><input class="form-control"></div>
    </div>
    <div class="d-flex m-down-10">
        <div class="col-2 prod-label">Product Category</div>
        <div class="col-5">
            <select class="form-control">
                <option *ngFor="let item of sampleItem">{{item}}</option>
            </select>
        </div>
    </div>
    <div class="d-flex m-down-10">
        <div class="col-2 prod-label">Warehouse</div>
        <div class="col-5"> <select class="form-control">
            <option *ngFor="let item of sampleItem">{{item}}</option>
        </select></div>
    </div>
    <div class="d-flex m-down-10">
        <div class="col-2 prod-label">Product Code</div>
        <div class="col-5"><input class="form-control"></div>
    </div>
    <div class="d-flex m-down-10">
        <div class="col-2 prod-label">Product Retail Price</div>
        <div class="col-5 input-group"  style="height: fit-content">
            <div class="input-group-prepend">
                <span class="input-group-text">&#8377;</span>
              </div>
            <input class="form-control" type="number"></div>
    </div>
    <div class="d-flex m-down-10">
        <div class="col-2 prod-label">Product Wholesale Price</div>
        <div class="col-5 input-group" style="height: fit-content">
            <div class="input-group-prepend">
                <span class="input-group-text">&#8377;</span>
              </div><input class="form-control" type="number"></div>
    </div>
    <div class="d-flex m-down-10">
        <div class="col-2 prod-label">Stock Unit</div>
        <div class="col-5"><input class="form-control" type="number"></div>
    </div>
    <div class="d-flex m-down-10">
        <div class="col-2 prod-label">Alert Quantity</div>
        <div class="col-5"><input class="form-control" type="number"></div>
    </div>
    <div class="d-flex addprodbtn">
        <div class="col-2 prod-label"></div>
        <div class="col-2 btn btn-success">Add Product</div>
    </div>
</div>